*{

    margin: 0 auto;

    
}

body, html {
    color: #3F3230;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    background: #F6F4EF;
}







/* Link Behavior Link Behavior Link Behavior Link Behavior Link Behavior Link Behavior Link Behavior Link Behavior */

a {
  color: #3E3E3D;
  text-decoration: none;
  transition: 300ms;
}

a:hover {
	background-size: 4px 50px;
}

a:visited {
    color:inherit;
}

b {
	color: #7C8F1B;
}





/* BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1   */


@media screen and (max-width:100000000px) and (min-width:1851px){


h1{
    color: #9A938F;
    font-size: 14.5px;
    font-family: 'Source Serif 4', serif;
    font-style: italic;
    line-height: 140%;
    font-variant: normal;
    font-weight: 100;
    padding-right: 4vw;
    padding-top: 12px;
}

h2{
    color: #3E3E3D;
    font-size: 28px; 
    line-height: 32px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:400; 
    padding-right:4vw;
    padding-top: 12px;
    text-transform: ;
}

h3{
    color: #3E3E3D;
    font-size: 14.5px;
    line-height: 140%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300; /* Corresponds to the 'Light' weight */
}


.nav {
    float: left;
    font-size: 14; 
    font-weight: 400; 
    text-align: left;
    padding-left:4vw;
    padding-top: 18px;
    position: fixed;
    width:100%;
    border-bottom: 1px solid #C8C3BF;
}

.nav-mobile{
    display: none;

}


#div1 {
    font-size: 36;
    line-height: 42;  
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    float: left;
}

#div2 { 
    font-size: 36;
    line-height: 42; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    float: left;
    color:#000;
    padding-top: 120px;
    margin-left: 80%;

}



.title{
    line-height: 1.13;
    padding-left:4vw;
    padding-right:7vh;
    padding-top: 120px;
    position: fixed;
}

.contact{
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 1.12;
    padding-left:4vw;
    padding-right:7vh;
    position: fixed;
    bottom: 6vh;
    margin: 0 auto;
}



.services{
    line-height: 1.13;
    padding-right:6vw;
}


.email:hover span {
    display:none;
    color:#fff;
}

.email:hover:before {
    border-bottom: none;
    content:"jenningsab@icloud.com";
    color:#000;
}






.post img{
    width:100%;
}

.post video{
    width:100%;
}

.post{

    font-style: normal; 
    font-variant: normal; 
    font-weight:400; 
    line-height: 22px;
    padding-left:0vw;
    padding-right:4vw;
    padding-bottom: 1.2vw;
    display: inline-block;
}

.description{
    font-size: 14px; 
    line-height: 18px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:400; 
    padding-right:4vw;
    padding-top: 12px;
    text-transform: ;
}

.description span{
    display: none;
}


}






/* BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1   */



@media screen and (max-width:1850px) and (min-width:1400px){

h1{
    color: #9A938F;
    font-size: 14.5px;
    font-family: 'Source Serif 4', serif;
    font-style: italic;
    line-height: 140%;
    font-variant: normal;
    font-weight: 100;
    padding-right: 4vw;
    padding-top: 12px;
}


h2{
    color: #3E3E3D;
    font-size: 28px; 
    line-height: 32px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:400; 
    padding-right:4vw;
    padding-top: 12px;
    text-transform: ;
}

h3{
    color: #3E3E3D;
    font-size: 14.5px;
    line-height: 140%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300; /* Corresponds to the 'Light' weight */
}


.nav {
    float: left;
    font-size: 14; 
    font-weight: 400; 
    text-align: left;
    padding-left:4vw;
    padding-top: 18px;
    position: fixed;
    width:100%;
    border-bottom: 1px solid #C8C3BF;
}

.nav-mobile{
    display: none;
}


#div1 {
    font-size: 36; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    float: left;
}

#div2 { 
    font-size: 36; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    float: left;
    color:#000;
    padding-top: 120px;
    margin-left: 45%;

}



.title{
    line-height: 1.13;
    padding-left:4vw;
    padding-right:7vh;
    padding-top: 120px;
    position: fixed;
}

.contact{
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 1.12;
    padding-left:4vw;
    padding-right:7vh;
    position: fixed;
    bottom: 6vh;
    margin: 0 auto;
}


.services{
    line-height: 1.13;
    padding-right:4vw;
}


.email:hover span {
    display:none;
    color:#fff;
}

.email:hover:before {
    border-bottom: none;
    content:"jenningsab@icloud.com";
    color:#000;
}






.post img{
    width:100%;
}

.post video{
    width:100%;
}

.post{
    padding-left:0vw;
    padding-right:1vw;
    padding-bottom: 1.4vw;
    display: inline-block;
}

.description{
    font-size: 14px; 
    line-height: 18px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:400; 
    padding-right:4vw;
    padding-top: 8px;
    text-transform: ;
}
.description span{
    display: none;
}



}


/* BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1   */

@media screen and (max-width:1399px) and (min-width: 900px){

h1{
    color: #9A938F;
    font-size: 14.5px;
    font-family: 'Source Serif 4', serif;
    font-style: italic;
    line-height: 140%;
    font-variant: normal;
    font-weight: 100;
    padding-right: 4vw;
    padding-top: 12px;
}


h2{
    color: #3E3E3D;
    font-size: 28px; 
    line-height: 32px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:400; 
    padding-right:4vw;
    padding-top: 12px;
    text-transform: ;
}

h3{
    color: #3E3E3D;
    font-size: 14.5px;
    line-height: 140%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300; /* Corresponds to the 'Light' weight */
}


.nav {
    float: left;
    font-size: 14; 
    font-weight: 400; 
    text-align: left;
    padding-left:4vw;
    padding-top: 18px;
    position: fixed;
    width:100%;
    border-bottom: 1px solid #C8C3BF;
}


.nav-mobile{
    display: none;
}


#div1 {
    font-size: 36; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    float: left;
}

#div2 { 
    font-size: 36; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    float: left;
    color:#000;
    padding-top: 120px;
    margin-left: 80%;
}



.title{
    line-height: 1.13;
    padding-left:4vw;
    padding-right:7vh;
    padding-top: 120px;
    position: fixed;
}

.contact{
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 1.12;
    padding-left:4vw;
    padding-right:7vh;
    position: fixed;
    bottom: 6vh;
    margin: 0 auto;
}


#div2 { 
    font-size: 36; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    float: left;
    color:#000;
    padding-top: 120px;
    margin-left: 40%;
}



.services{
    line-height: 1.13;
    padding-right:4vw;
}


.email:hover span {
    display:none;
    color:#fff;
}

.email:hover:before {
    border-bottom: none;
    content:"jenningsab@icloud.com";
    color: #3E3E3D;
}






.post img{
    width:100%;
}

.post video{
    width:100%;
}

.post{

    padding-left:0vw;
    padding-bottom: 1.5vw;
    display: inline-block;
}


.description{
    font-size: 14px; 
    line-height: 18px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:400; 
    padding-right:4vw;
    padding-top: 6px;
    text-transform: ;
}
.description span{
    display: none;
}

}

   


/* BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2   */


@media screen and (max-width:899px) and (min-width: 500px){

h1{
    color: #9A938F;
    font-size: 14.5px;
    font-family: 'Source Serif 4', serif;
    font-style: italic;
    line-height: 140%;
    font-variant: normal;
    font-weight: 100;
    padding-right: 4vw;
    padding-top: 12px;
}


h2{
    color: #3E3E3D;
    font-size: 28px; 
    line-height: 32px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:400; 
    padding-right:4vw;
    padding-top: 12px;
    text-transform: ;
}

h3{
    color: #3E3E3D;
    font-size: 14.5px;
    line-height: 140%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300; /* Corresponds to the 'Light' weight */
}
.nav-mobile {
    float: left;
    font-size: 14; 
    font-weight: 400; 
    line-height: 18px;
    text-align: left;
    padding-left:40px;
    padding-top: 18px;
    position: fixed;
    width:100%;
    border-bottom: 1px solid #C8C3BF;
}


.nav {
    display: none;
}


#div1 {
    font-size: 36; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    width: 100%;
    height:100px;
    float: left;
    color:#000;

}



.title{
    font-size: 36; 
    line-height: 1.13;
    padding-left:40px;
    padding-right:7vh;
    padding-top: 120px;
    display:block;
    position:fixed;
/*    mix-blend-mode: exclusion;*/
    color:bl;
}

.contact{
    display: none;
}


#div2 { 
    font-size: 36; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    padding-top: 285px;
    width: 100%; 
    float: left;
    color:#000;
    display: block;
}



.services{
    line-height: 1.13;
    padding-left:40px;
    padding-right:40px;
    padding-top: 100px;
    padding-bottom: 45;
    font-size: 36; 
}




.post img{
    width:100%;
}

.post video{
    width:100%;
}

.post{
    padding-left:0vw;
    padding-top: 3vw;
    display: inline-block;
}


.description{
    font-size: 14px;
    line-height: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight:400; 
    padding-right:4vw;
    padding-top: 6px;
    text-transform: ;
}

.description span{
    display: none;
}

p span{
        color: #3E3E3D;
        font-size: 24px; 
}

}

/* BREAKPONT 3 BREAKPONT 3 BREAKPONT 3 BREAKPONT 3 BREAKPONT 3 BREAKPONT 3 BREAKPONT 3 BREAKPONT 3 BREAKPONT 3   */

@media screen and (max-width:499px) and (min-width: 100px){

h1{
    color: #9A938F;
    font-size: 14.5px;
    font-family: 'Source Serif 4', serif;
    font-style: italic;
    line-height: 140%;
    font-variant: normal;
    font-weight: 100;
    padding-right: 4vw;
    padding-top: 12px;
}

h2{
    color: #3E3E3D;
    font-size: 28px; 
    line-height: 32px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:400; 
    padding-right:4vw;
    padding-top: 12px;
    text-transform: ;
}

h3{
    color: #3E3E3D;
    font-size: 14.5px;
    line-height: 140%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300; /* Corresponds to the 'Light' weight */
}

.nav-mobile {
    float: left;
    font-size: 14; 
    font-weight: 400; 
    line-height: 18px;
    text-align: left;
    padding-left:40px;
    padding-top: 18px;
    position: fixed;
    width:100%;
    border-bottom: 1px solid #C8C3BF;
}

.nav{
    display: none;
}

#div1 {
    font-size: 9vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    width: 100%;
    height:100px;
    float: left;
    color:#000;

}

.title{
    font-size: 9vw; 
    line-height: 1.13;
    padding-left:20px;
    padding-right:7vh;
    padding-top: 120px;
    display:block;
    position:fixed;
/*    mix-blend-mode: exclusion;*/
    color:black;
}

.contact{
    display: none;
}

#div2 { 
    font-size: 9vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    padding-top: 285px;
    width: 100%; 
    float: left;
    color:#000;
    display: block;
}

.services{
    line-height: 1.13;
    padding-left:20px;
    padding-right:20px;
    padding-top: 100px;
    padding-bottom: 45;
    font-size: 36; 
}




.post img{
    width:100%;
}

.post video{
    width:100%;
}

.post{
    padding-left:0vw;
    padding-top: 3vw;
    display: inline-block;
}


.description{
    font-size: 14px;
    line-height: 18px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:400; 
    padding-right:4vw;
    padding-top: 6px;
    text-transform: ;
}

.description span{
    display: none;
}

/*p span{
        color: #3E3E3D;
        font-size: 20px; 
}*/


}